@{
    Layout = null;
}
<link href="@Url.Content("~/Scripts/HoorayUI/css/login.css")" rel="stylesheet"/>
<div class="loading" style="display: none"></div>
<div id="parentDiv">
    <canvas id="Mycanvas"></canvas>
    <div class="wrapper">
        <div class="container">
            <h1 class="logo">
                dog fucker v8.7
            </h1>

            <form id="loginForm">
                <div>
                    <input type="text" name="username" value="admin" class="username" placeholder="用户名" autocomplete="off" />
                </div>
                <div>
                    <input type="password" name="password" value="admin" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
                </div>
                <button id="login">登 陆</button>
            </form>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery-2.2.4.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/validate/Validform_v5.3.2/Validform_v5.3.2.js")"></script>
<script src="@Url.Content("~/Scripts/dynamicBackground.js")"></script>
<script>
    $(function () {
        $("#login")
            .click(function (event) {
                event.preventDefault();
                $('form').fadeOut(500);
                $('.wrapper').addClass('form-success');

                $('.loading').show();
                $('#parentDiv').hide();
                $.post('@Url.Action("Landing", "Index")',
                    {
                        userName: $('.username').val(),
                        passWord: $('.password').val()
                    },
                    function (responseText) {
                        if (typeof responseText.js !== 'undefined') {
                            alert("密码错误");
                            setTimeout(function() {
                                location.href = '@Url.Action("Login","Index")';
                            },3000);
                        } else {
                            if (typeof responseText.success !== 'undefined') {
                                $('.loading').hide();
                                location.href = '@Url.Action("Desktop", "Index")';
                            } else {
                                $('#parentDiv').show();
                                $('.loading').hide();
                                $('.log .tip').text(responseText.msg).show();
                            }
                        }
                        
                    });
            });
    });

</script>
