@{
    Layout = null;
}
<link href="@Url.Content("~/Scripts/HoorayUI/css/login.css")" rel="stylesheet" />

<div id="bubbles" class="background-filter">
</div>
<div class="wrapper">
    <div class="container">
        <h1 class="logo">
            欢迎登陆
            <div class="progress" id="yoda" style="display: none"></div>
        </h1>

        <form id="loginForm">
            <div>
                <input type="text" name="username" value="admin" class="username" placeholder="用户名" autocomplete="off" />
            </div>
            <div>
                <input type="password" name="password" value="admin123" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
            </div>
            <button id="login">登 陆</button>
        </form>
    </div>
</div>

<script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/jquery-2.1.4.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/bubbler/bubbler.jquery.js")"></script>
<script src="@Url.Content( "~/Scripts/HoorayUI/js/validate/jquery.validate.min.js" )"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/processBar/jquery.processbar.js")"></script>
<script>
    var processIndex = 0;
    $(function () {
        $("#bubbles").bubbler();

        $("#login").click(function (event) {
            event.preventDefault();
            $('form').fadeOut(500);
            $('.wrapper').addClass('form-success');
            $('#yoda').show();


            var setIntervalIndex = 0;
            var progressBar = $("#yoda").ProgressBarWars({ porcentaje: 0, estilo: "yoda" });
            
            $.post('@Url.Action("Landing", "Index")',
                {
                    userName: $('.username').val(),
                    passWord: $('.password').val()
                }, function (responseText) {
                    if (responseText.status === 1) {
                        progressBar.mover(100);
                        clearInterval(setIntervalIndex);
                        location.href = '@Url.Action("Desktop", "Index")';
                    } else {
                        $('.log .tip').text(responseText.msg).show();
                    }
                });

            setIntervalIndex = setInterval(function () {
                progressBar.mover(processIndex);
                processIndex += 10;
                if (progressBar.getCurrentPorcent() === 100) {
                    progressBar.mover(0);
                    processIndex = 0;
                }
            }, 500);

        });

        $("#loginForm").validate({
            rules: {
                username: {
                    required: true,//必填
                    minlength: 3, //最少6个字符
                    maxlength: 32//最多20个字符
                },
                password: {
                    required: true,
                    minlength: 3,
                    maxlength: 32
                }
            },
            //错误信息提示
            messages: {
                username: {
                    required: "必须填写用户名",
                    minlength: "用户名至少为3个字符",
                    maxlength: "用户名至多为32个字符",
                    remote: "用户名已存在"
                },
                password: {
                    required: "必须填写密码",
                    minlength: "密码至少为3个字符",
                    maxlength: "密码至多为32个字符"
                }
            }
        });
    });
</script>