<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/jquery-2.1.4.js")"></script>
    <link href="@Url.Content("~/Scripts/HoorayUI/js/HoorayLibs/hooraylibs.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/HoorayUI/css/index.css")" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
<script src="@Url.Content( "~/Scripts/HoorayUI/js/HoorayJs/jquery-browser.js" )"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayLibs//hooraylibs.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/validate/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/sugar/sugar-1.4.1.min.js")"></script>

<script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.min.js?__=" + DateTime.Now.Millisecond)"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/artDialog4.1.7/jquery.artDialog.js?skin=default")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/artDialog4.1.7/plugins/iframeTools.js")"></script>


