<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/jquery-1.8.3.min.js")"></script>
    <link href="@Url.Content("~/Scripts/HoorayUI/js/HoorayLibs/hooraylibs.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/HoorayUI/css/index.css")" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayLibs//hooraylibs.js?__="+DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/Validform_v5.3.2/Validform_v5.3.2_min.js?__="+DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/sugar/sugar-1.4.1.min.js?__="+DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.core.js?__="+DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.app.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.appmanage.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.base.js?__=" + DateTime.Now.Millisecond)"></script>

    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.copyright.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.desktop.js?__=" + DateTime.Now.Millisecond)"></script>

    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.folderView.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.grid.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.hotkey.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.lock.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.maskBox.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.popupMenu.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.searchbar.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.startmenu.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.taskbar.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.templates.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.wallpaper.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.dock.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.widget.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.window.js?__=" + DateTime.Now.Millisecond)"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.zoom.js")"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/artDialog4.1.7/jquery.artDialog.js?skin=default")"></script>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/artDialog4.1.7/plugins/iframeTools.js?__=" + DateTime.Now.Millisecond)"></script>
</body>
</html>

