<!DOCTYPE html>
<html>
<head>

    @RenderSection("ParentCss", false)
</head>
<body>
    @RenderBody()
</body>
</html>

<script src="@Url.Content("~/Scripts/jquery-2.2.4.js")"></script>

<script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/jquery-browser.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/artDialog4.1.7/jquery.artDialog.js?skin=default")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/artDialog4.1.7/plugins/iframeTools.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayLibs//hooraylibs.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/bootstrap/js/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/sugar/sugar-1.4.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.min.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/validate/Validform_v5.3.2/Validform_v5.3.2.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/webuploader-0.1.5/webuploader.js")"></script>

<script>
   $(function() {
       openDetailIframe = function (url) {
           ZENG.msgbox.show('正在载入中，请稍后...', 6, 8000);
           $('#detailIframe iframe')
               .attr('src', url)
               .load(function () {
                   $('body').css('overflow', 'hidden');
                   ZENG.msgbox._hide();
                   $('#detailIframe')
                       .animate({
                           'top': 0,
                           'opacity': 'show'
                       },
                           500);
               });
       };
       closeDetailIframe = function (callback) {
           $('body').css('overflow', 'auto');
           $('#detailIframe').animate({ 'top': '-100px', 'opacity': 'hide' }, 500, function () {
               callback && callback();
           });
       };
   })
</script>
@RenderSection("ParentScript", false)
