<!DOCTYPE html>
<html>
<head>
    <script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/jquery-2.1.4.js")"></script>
    <link href="@Url.Content("~/Scripts/HoorayUI/js/HoorayLibs/hooraylibs.css")" rel="stylesheet" />
    @RenderSection("css", true)

    <title></title>
</head>
<body>
    @RenderBody()
</body>
</html>


<script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/jquery-browser.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/artDialog4.1.7/jquery.artDialog.js?skin=default")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/artDialog4.1.7/plugins/iframeTools.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayLibs//hooraylibs.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/validate/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/bootstrap/js/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/sugar/sugar-1.4.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.min.js")"></script>


<script>
    $(function () {
        @RenderSection("script", true)


        //配置artDialog全局默认参数
        (function (config) {
            config['lock'] = true;
            config['fixed'] = true;
            config['resize'] = false;
            config['background'] = '#000';
            config['opacity'] = 0.5;
        })($.dialog.defaults);
        //toolTip
        $('[rel="tooltip"]').tooltip();
        //表单提示
        $("[datatype]")
            .focusin(function () {
                $(this).parent().addClass('info').children('.infomsg').show().siblings('.help-inline').hide();
            })
            .focusout(function () {
                $(this).parent().removeClass('info').children('.infomsg').hide().siblings('.help-inline').show();
            });

        openDetailIframe = function (url) {
            ZENG.msgbox.show('正在载入中，请稍后...', 6, 100000);
            $('#detailIframe iframe')
                .attr('src', url)
                .load(function () {
                    $('body').css('overflow', 'hidden');
                    ZENG.msgbox._hide();
                    $('#detailIframe')
                        .animate({
                            'top': 0,
                            'opacity': 'show'
                        },
                            500);
                });
        };
        closeDetailIframe = function (callback) {
            $('body').css('overflow', 'auto');
            $('#detailIframe').animate({ 'top': '-100px', 'opacity': 'hide' }, 500, function () {
                callback && callback();
            });
        };
    });

</script>



